* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grass: #aaf683;
    --fire: #ff9770;
    --water: #a9def9;
    --bug: #c4d473;
    --normal: #ccd5ae;
    --poison: #ab87ff;
    --electric: #f5e960;
    --ground: #efd780;
    --fairy: #fface4;
    --fighting: #ee6055;
    --psychic: #ff5d8f;
    --rock: #d3c1c3;
    --ghost: #9381ff;
    --dragon: #7161ef;
    --ice: #bad7f2;

    font-family: 'Manrope';
    color: #ffffff;
}

body {
    background-color: #001220;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 20px 20px 20px 0px;
}

.container img {
    height: 44px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60em;
    height: 100%;
    background-color: #001220;
}

.card {
    display: flex;
    width: 230px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

.card img{
    height: 96px;
    width: 96px;
}

.sprite {
    display: flex;
    align-items: end;
    justify-content: end;
}

.info {
    margin: 10px;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100vw;
    }

    .card {
        display: flex;
        width: 150px;
        height: 130px;
        margin: 10px;
        border-radius: 10px;
        font-size: 10px;
    }

    .card img{
        height: 70px;
        width: 70px;
    }
}